<html>
<head>
  <title>Render</title>
  <meta name="referrer" content="never">
    <script src="/assets/pdf-4614d71f48538374b0893b2cc980f38e.js"></script><link rel="stylesheet" href="/assets/pdf-effeb1f6266aa69a5cc3fb0de5617951.css">

</head>
<body
   class="is-embedded "
   data-render-url="https://render.githubusercontent.com"
   data-github-hostname="github.com"
>
  <div class="render-shell js-render-shell" >
    
<div class="pdf-container"
  data-file="https://raw.githubusercontent.com/iccv2025shenzhen/iccv2025shenzhen.github.io/55001e38ecfd5addf880b982ce5c023e8bba7964/_includes/ICCV2025shenzhen.pdf"
  data-worker="/assets/pdf/worker-de03a6262fe73d7da5661d85cbb46962.js"
  data-bcmap-dir="https://render.githubusercontent.com/pdf/"
>
</div>

<div id="js-click-for-more" class="click-for-more">
  <button class="button">More Pages</button>
  <div class="spinner"><img src="../pdf/spinner.gif" alt="Loading more pages"/></div>
</div>

  </div>

  

</body>
</html>
