
<body
   class="is-embedded "
   data-render-url="https://render.githubusercontent.com"
   data-github-hostname="github.com"
>
  <div class="render-shell js-render-shell" >
    
<div class="pdf-container"
  data-file="https://iccv2025shenzhen.github.io/ICCV2025shenzhen.pdf"
  data-bcmap-dir="https://render.githubusercontent.com/pdf/"
>
</div>

<div id="js-click-for-more" class="click-for-more">
  <button class="button">More Pages</button>
  <div class="spinner"><img src="../pdf/spinner.gif" alt="Loading more pages"/></div>
</div>

  </div>

  

</body>

